<template>
  <div class="<%= name %>">
    <h1 class="<%= name %>"><%= name %></h1>
    <p>{{ message }}</p>
  </div>
</template>

<script setup>
  import { defineProps, defineEmits, ref } from "vue";
  const message = ref("Hello World");
</script>

<style scoped></style>
